<h1>New Task</h1>

<%= form_with model: @task, url: tasks_path, local: true do |f| %>
  <div>
    <%= f.label :title %> <!-- Label for Title -->
    <%= f.text_field :title %> <!-- Text field for Title -->
  </div>
  <div>
    <%= f.label :detail %> <!-- Label for Details -->
    <%= f.text_area :detail %> <!-- Text area for Details -->
  </div>
  <div>
    <%= f.label :completed %> <!-- Label for Completed -->
    <%= f.check_box :completed %> <!-- Boolean field for Completed -->
  </div>
  <div>
    <%= f.submit %> <!-- Submit button -->
  </div>
<% end %>

<%= link_to 'Back to Task List', tasks_path %>
